<!-- Header -->
<!-- <div class="relative bg-white">

    <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-blueGray-500 rounded">
        <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
            <div class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start"></div>
            <div class="flex lg:flex-grow items-center" id="example-navbar-info">
                <ul class="flex flex-col lg:flex-row list-none ml-auto">

                    <li class="nav-item">
                        <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
                            <i class="fas fa-user text-lg leading-lg text-black opacity-50"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div> -->